In [2]:
import numpy as np
import pandas as pd

m = np.random.randint(1,30, size=(10,3))
df = pd.DataFrame(m, columns = ["var1", "var2", "var3"])
df

   var1  var2  var3
0     1     3    19
1    17    13    21
2     5     3    25
3    10    14    23
4     3     2    10
5     2     1     5
6    19    13     6
7     2    18    22
8     6     8    10
9    26     1    23

In [4]:
#loc: tanımlandığı şekli ile seçim yapmak için kullanılır.
#mesela [0:3]; 0dan3e kadarı ifade eder 3 alınmaz. ama loc'ta tam tanımladığımız
#gibi alır yani 3ü de dahil eder.

In [5]:
df.loc[0:3]

   var1  var2  var3
0     1     3    19
1    17    13    21
2     5     3    25
3    10    14    23

In [6]:
#iloc: loc'un aksine sıradan, alışık olduğumuz şekilde indexleme yapar.
#[0:3] dersek 3 dahil olmaz iloc'ta

In [7]:
df.iloc[0:3]

   var1  var2  var3
0     1     3    19
1    17    13    21
2     5     3    25

In [8]:
df

   var1  var2  var3
0     1     3    19
1    17    13    21
2     5     3    25
3    10    14    23
4     3     2    10
5     2     1     5
6    19    13     6
7     2    18    22
8     6     8    10
9    26     1    23

In [9]:
df.iloc[:3, :2]

   var1  var2
0     1     3
1    17    13
2     5     3

In [10]:
df.loc[:3, "var3"]

0    19
1    21
2    25
3    23
Name: var3, dtype: int64

In [11]:
df.iloc[:3, "var3"] #hata verir.
#degisken ismi ya da index ismine göre secmek istersek iloc kullanılamaz.
#"var3" yüzünden hata aldık

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types