In [1]:
import numpy as np
import pandas as pd

m = np.random.randint(1,30, size=(10,3))
df = pd.DataFrame(m, columns = ["var1", "var2", "var3"])
df

   var1  var2  var3
0    20    22     5
1    22    26    17
2     8     4    20
3    17    28     4
4    26     1    19
5     9    17    12
6    29    28    26
7    12     7    13
8    18    21     7
9     1    28    28

In [2]:
df["var1"]

0    20
1    22
2     8
3    17
4    26
5     9
6    29
7    12
8    18
9     1
Name: var1, dtype: int64

In [4]:
df["var1"][0:2]

0    20
1    22
Name: var1, dtype: int64

In [5]:
df

   var1  var2  var3
0    20    22     5
1    22    26    17
2     8     4    20
3    17    28     4
4    26     1    19
5     9    17    12
6    29    28    26
7    12     7    13
8    18    21     7
9     1    28    28

In [6]:
df.var1

0    20
1    22
2     8
3    17
4    26
5     9
6    29
7    12
8    18
9     1
Name: var1, dtype: int64

In [8]:
df[df.var1 > 15] #df'de var1 icinde 15ten buyuk olan degerleri filtrele

   var1  var2  var3
0    20    22     5
1    22    26    17
3    17    28     4
4    26     1    19
6    29    28    26
8    18    21     7

In [9]:
df[df.var1 > 15]["var1"] #üsttekinden ayrı olarak sadece var1i göster.

0    20
1    22
3    17
4    26
6    29
8    18
Name: var1, dtype: int64

In [11]:
df[(df.var1 > 15) & (df.var3 < 5)]

   var1  var2  var3
3    17    28     4

In [14]:
df[(df.var1 > 15), ["var1", "var2"]] #hata alır çünkü degisken/index ismi vereceksek loc kullanmalıyız

TypeError: '(0     True
1     True
2    False
3     True
4     True
5    False
6     True
7    False
8     True
9    False
Name: var1, dtype: bool, ['var1', 'var2'])' is an invalid key

In [15]:
df.loc[(df.var1 > 15), ["var1", "var2"]] #üsttekine sadece loc eklendi

   var1  var2
0    20    22
1    22    26
3    17    28
4    26     1
6    29    28
8    18    21

In [19]:
df[(df.var1 > 15)][["var1", "var2"]] #üsttekini loc'suz kullanmak istersek degisken isimlerini icerden alıp dışarı yanına yazarız

   var1  var2
0    20    22
1    22    26
3    17    28
4    26     1
6    29    28
8    18    21