In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"gruplar": ["A", "B", "C","A", "B", "C"],
                  "degisken1" : [10,23,33,22,11,99],
                  "degisken2" : [100,253,33,262,11,969]}, columns = ["gruplar", "degisken1", "degisken2"])
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33         33
3       A         22        262
4       B         11         11
5       C         99        969

In [2]:
df["degisken1"]*9

0     90
1    207
2    297
3    198
4     99
5    891
Name: degisken1, dtype: int64

In [5]:
df.groupby("gruplar").transform(lambda x: x-x.mean())
#her bir degiskene git ve degiskenin her elemanından, o degiskenin ortalamsını çıkar.
#gruplar degiskeninde ABC gibi string ifadeler vardı onları bu 
#numerik şlemlere sokamayacağından dolayı attı

   degisken1  degisken2
0       -6.0      -81.0
1        6.0      121.0
2      -33.0     -468.0
3        6.0       81.0
4       -6.0     -121.0
5       33.0      468.0

In [ ]:
#transform ne işe yarıyor peki ?
#transform; istediğimiz bir fonksiyonu dfde çalıştırmamızı sağladı.