In [1]:
import pandas as pd

In [2]:
l = [11,22,33,44,55]
l

[11, 22, 33, 44, 55]

In [3]:
pd.DataFrame(l, columns = ["degisken ismi"]) #list olduğu için l. columns da isimlendirme yapar

   degisken ismi
0             11
1             22
2             33
3             44
4             55

In [4]:
import numpy as np
m = np.arange(1,10).reshape((3,3))
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [6]:
pd.DataFrame(m, columns = ["var1" ,"var2", "var3"]) #degiskenleri(kolonları) isimlendirdik

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [7]:
#Dataframe isimlendirme

In [8]:
df = pd.DataFrame(m, columns = ["var1" ,"var2", "var3"])
df.head()

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [11]:
df.columns = ("ali", "veli", "baran") #isimlendirdik
df

   ali  veli  baran
0    1     2      3
1    4     5      6
2    7     8      9

In [12]:
type(df)

pandas.core.frame.DataFrame

In [13]:
df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['ali', 'veli', 'baran'], dtype='object')]

In [14]:
df.shape

(3, 3)

In [15]:
df.ndim

2

In [16]:
df.size

9

In [19]:
df.values #dataframe yapısından sadece degerleri cekip numpy arrayine donusturur

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [18]:
type(df.values)

numpy.ndarray

In [20]:
df.tail()

   ali  veli  baran
0    1     2      3
1    4     5      6
2    7     8      9

In [21]:
a = np.array([1,2,3,4,5])

In [22]:
pd.DataFrame(a, columns= ["deg1"])

   deg1
0     1
1     2
2     3
3     4
4     5